body{
  background-color: grey;
}
#contenedor {
	display: inline-block;
	background-color: black;
}
span{
  background: white;
}

.ipt{
	display: block;
}
.btn-1 {
	display: block;
	margin: 5px;
	float: left;
	width: 70% !important;
}
.cross{
  color: white;
display: inline-block;
}