body{
  background-color: grey;
}
#contenedor {
	display: inline-block;
	background-color: black;
}
span{
  background: white;
}
button {
	display: inline-block;
	margin: 5px;
}
.icon-cross:before {
  content: "\ea0f";
  color: black;
}